a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

div {
  width: 800px;
  margin:auto;
}
/* this line was chatgpt */
body {
    font-family: verdana;font-size: large;
    background-color: #282828;
    background-image: url('img/');/* need to change the background later */
    background-repeat: repeat;
    background-size: 10%;
    color: whitesmoke;
}
/* until here */
.me {
    width: 1400px; 
}
.poem {
    font-family: cursive;
    font-size: small;
    width: 900;
}
.footer {
    text-align: center;
}